<div class="header-container">
  <div class="logo-container">
    <h1 id="title-logo">School CRUD</h1>
  </div>

  <div class="nav-menu-container">
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a class="nav-menu-link" routerLink="/students">Students</a>
      </li>

      <li class="nav-menu-item">
        <a class="nav-menu-link" routerLink="/subjects">Subjects</a>
      </li>

      <li class="nav-menu-item">
        <a class="nav-menu-link" routerLink="/grades">Grades</a>
      </li>
    </ul>
  </div>
</div>
